# This file lists the Python dependencies for the project.
opencv-python #SIFT feature extraction
numpy
pandas
matplotlib
seaborn
scikit-learn
torch #CNN model
torchvision
Pillow #Image processing
mediapipe

